<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Logo
    <img src="data:../static/images/educational_logo.jpg" alt="Logo" style="width:100px;">
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</nav>

<div class="jumbotron text-center">
  <h3>Welcome to My first Angular App</h3>
  <h6>Let's build it from scratch</h6>
</div>

<div>
  <router-outlet></router-outlet>
</div>
